.container-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 100%;
}

.container-dashboard-header {
    width: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.75);
    /* background: #ac5c54; */
}

.container-dashboard h1 {
    color: white;
    font-size: x-large;
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.btn-dashboard {
    /* margin: 0 1rem; */
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 1.5px;
    background: #ac5c54;
    border: 1px solid #ac5c54;
    color: white;
    transition: transform .1s ease;
}


.btn-dashboard:hover {
    /* transform: scale(1.05); */
    border: 1px solid white;
}

.btn-dashboard span {
    margin-right: 0.5rem !important;
}

.btn-dashboard.secondary {
    background: none;
    color: white;
}