/*Desktop View*/
/* * {
  box-sizing: border-box;
} */
/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
} */

.header {
  width: 100%;
  display: flex;
  background: #ac5c54;
  align-items: center;
  padding: 0px 10px;
  height: 65px;
}

.my-logo {
  height: 25px;
  vertical-align: text-bottom;
}

.logo-nav {
  padding-left: 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.logo-container {
  width: 100px;
  height: 50%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: large;
}

.logo-container a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 45px;
  height: 45px;
}

.nav-options {
  margin-top: revert;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
  list-style-type: none;
  font-size: medium;
  height: 100%;
}

.nav-options li {
  list-style: none;
  color: white;
}

.nav-options li a {
  text-decoration: none;
  color: white;
}

.mobile-option {
  display: none;
}

.option :hover {
  border-bottom: 1px solid white;
  color: white;
}

.signin-up {
  position: absolute;
  right: 0px;
  display: flex;
  padding: 0px 10px;
  list-style-type: none;
  color: white;
  font-size: larger;
  font-weight: bold;
}

.sign-in {
  padding-right: 10px;
  align-self: center;
}

.sign-in :hover {
  color: white;
}

.signup-btn {
  padding: 10px 10px;
  height: 2.4rem;
  border-radius: 3px;
  background: rgb(222, 9, 241);
  color: white;
  cursor: pointer;
  align-items: center;
}

.profile-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.profile-button-icon {
  height: 20px;
  width: 20px;
}

.profile-button-name {
  font-size: large;
  font-weight: 100;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  opacity: 0;
  position: fixed;
  right: 0;
  top: calc(100%+.25rem);
  background-color: #ac5c54;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  pointer-events: none;
  transform: translateY(-10px);
  /* transition: opacity 150ms ease-in-out, transform 150ms ease-in-out; */
}

/* .dropdown-menu a {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
  margin: 5px;
  color: white;
  border: 1px solid transparent;
} */

.dropdown-menu.active {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 99 !important;
  color: white;
}

.dropdown-menu.active a {
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
  margin: 5px;
  color: white;
  border: 1px solid transparent;
}

.dropdown-menu.active a:hover {
  border-bottom: 1px solid white;
}

.mobile-menu {
  display: none;
}

@media (max-width: 800px) {

  /*Mobile View */
  .header {
    padding: 0px 10px;
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
    justify-content: center;
  }

  .nav-options.active {
    background: #ac5c54;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 30px;
    height: 30px;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  .sign-up {
    background: rgb(222, 9, 241);
    border-radius: 3px;
    color: white;
    padding: 20px 0px;
    width: 80%;
    align-self: center;
    border-radius: 3px;
  }

  .signin-up {
    display: none;
  }

  .mobile-menu {
    position: absolute;
    right: 0px;
    display: block;
    padding-right: 10px;
  }
}