.create-event-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.create-event-title {
    border-bottom: 1px solid white;
    padding: 0 70px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: normal;
    letter-spacing: 1px;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.form .form-item {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.form .form-item .ant-form-item-control-input .form-item-input {
    min-width: 200px;
    max-width: 300px;
}

.form .form-item .ant-form-item-control-input .form-item-quota {
    max-width: 70px;
}

.form .form-item .ant-form-item-label label {
    color: white;
    font-size: large;
    padding-right: 5px;
}

.form button {
    margin-top: 30px;
    padding: 5px 30px;
    align-self: center;
    border: none;
    border-radius: 5px;
    background: #ac5c54;
    color: white;
    font-size: larger;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid transparent;
}

.form button:hover {
    border: 2px solid rgba(245, 245, 245, 0.541);
    background: #ac5b54;
}

@media (max-width: 800px) {
    .form {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
}