.create-event-container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.create-event-title {
    padding: 0 70px;
    color: white;
    text-align: center;
    font-size: x-large;
}

.create-event-input-field {
    height: 45px;
    margin: 35px 5px;
    max-width: 100%;
    min-width: 180px;
}

.ant-input .ant-select-selector {
    height: 45px;
    border: 3px solid transparent !important;
}

.ant-select-selector {
    height: 45px !important;
    border: 3px solid transparent !important;
}

.ant-select-selection-placeholder {
    line-height: 40px !important;
}

.ant-select-selection-item {
    line-height: 40px !important;
}

.ant-input-number {
    line-height: 40px !important;
}

.ant-picker {
    height: 45px !important;
    border: 3px solid transparent !important;
}

.ant-cascader {
    width: 100% !important;
}

.ant-input.invalid {
    border: 3px solid tomato !important;
}

#name {
    height: 45px;
}

#location {
    height: 45px;
}

#date {
    height: 45px;
}

.btn-dashboard.create-event {
    width: 175px;
}

.btn-dashboard.create-event:disabled {
    background: rgba(199, 146, 137, 0.3);
}

.btn-dashboard.create-event:disabled {
    border: 1px solid transparent;
    cursor: not-allowed;
}