.friend-requests {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.search-box {
    height: 50px;
    padding-left: 1rem;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #777;
    border-radius: .25rem;
}

.cards-grid-requests {
    height: 100%;
    overflow: auto;
    border: 3px solid #ac5c54;
    display: block;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: center;
}

.card-requests {
    --padding: 1rem;
    margin: 1rem;
    min-width: 640px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 250px;
    border: 1px solid #777;
    border-radius: .25rem;
    transition: transform .3s ease;
}

.card-requests:hover {
    transform: scale(1.1);
}

.btn-accept {
    --reject-btn-color: tomato;
    --color: hsl(123, 100%, 31%);
    background: var(--color);
    color: white;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.btn-accept.btn-outline {
    background: none;
    border: none;
    color: var(--reject-btn-color);
}