.container-users {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.search-box-users {
    height: 50px;
    width: 30%;
    min-width: 200px;
    margin: 5px;
    padding-left: 1rem;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid #777;
    border-radius: .25rem;
    color: white;
    font-size: small;
}

.filter-users {
    margin: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-users.cards-grid {
    height: 100%;
    overflow: auto;
    display: block;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: center;
}

.card-user {
    display: flex;
    flex-direction: column;
    --padding: 1rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 500px;
    border: 1px solid #777;
    border-radius: .25rem;
    transition: transform .3s ease;
}

.card-user:hover {
    transform: scale(1.1);
}

.card-user-header {
    font-size: x-large;
}

.card-user-body {
    padding: 1rem;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.card-user-body-left {
    padding: 0 20px;
    border-right: 1px solid white;
}

.card-user-body-right {
    padding: 0 20px;
}

.avatar {
    border: 1px solid white;
}

.card-user-right {
    padding-left: 1rem;
}

.card-user-footer {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1rem;
}

.btn-user-add-friend {
    padding: .3em .75em;
    margin-right: 10px;
    --reject-btn-color: tomato;
    --color: hsl(123, 100%, 31%);
    background: var(--color);
    color: white;
    border: 1px solid transparent;
    border-radius: .25em;
    cursor: pointer;
    font-size: medium;
}

.btn-user-add-friend:hover {
    border: 1px solid white;
}

.btn-user-add-friend.btn-outline {
    color: var(--reject-btn-color);
    background: none;
    border: 1px solid tomato;
}

.btn-user-add-friend.btn-outline:hover {
    border: 1px solid white;
    background: none;
}

.friends {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
}

.friends-icon {
    margin-right: 5px;
    height: 15xp;
    width: 15px;
}