.profile {
    align-self: baseline;
    margin-top: 100px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    align-items: center;
    justify-content: center;
    position: top;
    border-radius: 10px;
}

.loader {
    top: 100%;
    transform: "translate(-50%, -50%)";
    /* align-self: center; */
    /* margin: 0 auto; */
    align-self: baseline;
    align-content: center;
    /*margin-top: 100px; */
}

.profileUserImage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    left: 0;
    right: 0;
    margin: 15px;
    top: 150px;
    border: 5px solid white;
}

.profileUserImage:hover {
    border: 5px solid tomato
}

.profileInfo {
    /* top: ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.profileInfo h4 {
    color: white;
}