.container-events {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.side-bar {
    background: rgba(0, 0, 0, 0.7);
}

.search-box {
    height: 50px;
    padding-left: 1rem;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #777;
    border-radius: .25rem;
}

.filter {
    height: 150;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input-group {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container-events.cards-grid {
    height: 100%;
    overflow: auto;
    border: 3px solid #ac5c54;
    display: block;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: center;
}

.card-event {
    --padding: 1rem;
    margin: 1rem;
    min-width: 640px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 250px;
    border: 1px solid #777;
    border-radius: .25rem;
    transition: transform .3s ease;
}

.card-event:hover {
    transform: scale(1.1);
}

.progress-participants[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70px;
    height: 10px;
    /* border-radius: 5px; */
}

.progress-participants[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 5px;
}

.progress-participants[value]::-webkit-progress-value {
    background-color: #ac5c54;
    border-radius: 5px;
}

.progress-participants[value]::-moz-progress-bar {
    background-color: #ac5c54;
}

.btn-subscribe {
    --reject-btn-color: #ac5c54;
    --color: hsl(123, 100%, 31%);
    background: var(--color);
    color: white;
    border: none;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.btn-subscribe.btn-outline {
    color: var(--reject-btn-color);
    background: none;
    border: 1px solid #ac5c54;
    padding: .5em .5em;
    margin-top: 0.75rem;
}

.going {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.going-icon {
    margin-right: 5px;
    height: 15xp;
    width: 15px;
}